USE [master]
GO
/****** Object:  Database [Unleashed]    Script Date: 8/20/2025 3:32:19 PM ******/
CREATE DATABASE [Unleashed]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Unleashed', FILENAME = N'D:\SQL Server Express\MSSQL16.SQLEXPRESS\MSSQL\DATA\Unleashed.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Unleashed_log', FILENAME = N'D:\SQL Server Express\MSSQL16.SQLEXPRESS\MSSQL\DATA\Unleashed_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Unleashed].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Unleashed]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](255) NULL,
	[brand_description] [nvarchar](max) NULL,
	[brand_image_url] [nvarchar](255) NULL,
	[brand_website_url] [nvarchar](255) NULL,
	[brand_created_at] [datetimeoffset](7) NULL,
	[brand_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [brand_pkey] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[user_id] [uniqueidentifier] NOT NULL,
	[variation_id] [int] NOT NULL,
	[cart_quantity] [int] NULL,
 CONSTRAINT [cart_pkey] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[variation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
	[category_description] [nvarchar](max) NULL,
	[category_image_url] [nvarchar](255) NULL,
	[category_created_at] [datetimeoffset](7) NULL,
	[category_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [category_pkey] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[chat_created_at] [datetimeoffset](7) NULL,
 CONSTRAINT [chat_pkey] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color_name] [nvarchar](max) NULL,
	[color_hex_code] [nvarchar](max) NULL,
 CONSTRAINT [color_pkey] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NULL,
	[comment_content] [nvarchar](max) NULL,
	[comment_created_at] [datetimeoffset](7) NULL,
	[comment_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [comment_pkey] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_parent]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_parent](
	[comment_id] [int] NULL,
	[comment_parent_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_status_id] [int] NULL,
	[discount_type_id] [int] NULL,
	[discount_code] [nvarchar](20) NOT NULL,
	[discount_value] [decimal](10, 2) NULL,
	[discount_description] [nvarchar](max) NULL,
	[discount_rank_requirement] [int] NULL,
	[discount_minimum_order_value] [decimal](10, 2) NULL,
	[discount_maximum_value] [decimal](10, 2) NULL,
	[discount_usage_limit] [int] NULL,
	[discount_start_date] [datetimeoffset](7) NULL,
	[discount_end_date] [datetimeoffset](7) NULL,
	[discount_created_at] [datetimeoffset](7) NULL,
	[discount_updated_at] [datetimeoffset](7) NULL,
	[discount_usage_count] [int] NULL,
 CONSTRAINT [discount_pkey] PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount_status]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_status](
	[discount_status_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_status_name] [nvarchar](max) NULL,
 CONSTRAINT [discount_status_pkey] PRIMARY KEY CLUSTERED 
(
	[discount_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount_type]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_type](
	[discount_type_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_type_name] [nvarchar](max) NULL,
 CONSTRAINT [discount_type_pkey] PRIMARY KEY CLUSTERED 
(
	[discount_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[topic_id] [int] NULL,
	[feedback_email] [nvarchar](max) NULL,
	[feedback_content] [nvarchar](max) NULL,
	[feedback_created_at] [datetimeoffset](7) NULL,
	[is_feedback_resolved] [bit] NULL,
 CONSTRAINT [feedback_pkey] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[chat_id] [int] NULL,
	[sender_id] [uniqueidentifier] NULL,
	[message_text] [nvarchar](max) NULL,
	[message_send_at] [datetimeoffset](7) NULL,
	[message_image_url] [nvarchar](255) NULL,
	[is_message_edited] [bit] NULL,
	[is_message_deleted] [bit] NULL,
 CONSTRAINT [message_pkey] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id_sender] [uniqueidentifier] NULL,
	[notification_title] [nvarchar](max) NULL,
	[notification_content] [nvarchar](max) NULL,
	[is_notification_draft] [bit] NULL,
	[notification_created_at] [datetimeoffset](7) NULL,
	[notification_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [notification_pkey] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_user]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_user](
	[notification_id] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[is_notification_viewed] [bit] NULL,
	[is_notification_deleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [nvarchar](255) NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[order_status_id] [int] NULL,
	[payment_method_id] [int] NULL,
	[shipping_method_id] [int] NULL,
	[discount_id] [int] NULL,
	[incharge_employee_id] [uniqueidentifier] NULL,
	[order_date] [datetimeoffset](7) NULL,
	[order_total_amount] [decimal](10, 2) NULL,
	[order_tracking_number] [nvarchar](50) NULL,
	[order_note] [nvarchar](max) NULL,
	[order_billing_address] [nvarchar](255) NULL,
	[order_expected_delivery_date] [datetime2](7) NULL,
	[order_transaction_reference] [nvarchar](255) NULL,
	[order_tax] [decimal](3, 2) NULL,
	[order_created_at] [datetimeoffset](7) NULL,
	[order_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [order_pkey] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[order_status_id] [int] IDENTITY(1,1) NOT NULL,
	[order_status_name] [nvarchar](max) NULL,
 CONSTRAINT [order_status_pkey] PRIMARY KEY CLUSTERED 
(
	[order_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_variation_single]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_variation_single](
	[order_id] [nvarchar](255) NOT NULL,
	[variation_single_id] [int] NOT NULL,
	[sale_id] [int] NULL,
	[variation_price_at_purchase] [decimal](10, 2) NOT NULL,
 CONSTRAINT [order_variation_single_pkey] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[variation_single_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[payment_method_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method_name] [nvarchar](max) NULL,
 CONSTRAINT [payment_method_pkey] PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [uniqueidentifier] NOT NULL,
	[brand_id] [int] NULL,
	[product_status_id] [int] NULL,
	[product_name] [nvarchar](max) NULL,
	[product_code] [nvarchar](max) NULL,
	[product_description] [nvarchar](max) NULL,
	[product_created_at] [datetimeoffset](7) NULL,
	[product_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [product_pkey] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category](
	[product_id] [uniqueidentifier] NULL,
	[category_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_status]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_status](
	[product_status_id] [int] IDENTITY(1,1) NOT NULL,
	[product_status_name] [nvarchar](max) NULL,
 CONSTRAINT [product_status_pkey] PRIMARY KEY CLUSTERED 
(
	[product_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provider]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provider](
	[provider_id] [int] IDENTITY(1,1) NOT NULL,
	[provider_name] [nvarchar](255) NULL,
	[provider_image_url] [nvarchar](255) NULL,
	[provider_email] [nvarchar](255) NULL,
	[provider_phone] [nvarchar](12) NULL,
	[provider_address] [nvarchar](255) NULL,
	[provider_created_at] [datetimeoffset](7) NULL,
	[provider_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [provider_pkey] PRIMARY KEY CLUSTERED 
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rank]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rank](
	[rank_id] [int] IDENTITY(1,1) NOT NULL,
	[rank_name] [nvarchar](max) NULL,
	[rank_num] [int] NULL,
	[rank_payment_requirement] [decimal](10, 2) NULL,
	[rank_base_discount] [decimal](3, 2) NULL,
 CONSTRAINT [rank_pkey] PRIMARY KEY CLUSTERED 
(
	[rank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NULL,
	[order_id] [nvarchar](255) NULL,
	[review_rating] [int] NULL,
 CONSTRAINT [review_pkey] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](max) NULL,
 CONSTRAINT [role_pkey] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_type_id] [int] NULL,
	[sale_status_id] [int] NULL,
	[sale_value] [decimal](10, 2) NULL,
	[sale_start_date] [datetimeoffset](7) NULL,
	[sale_end_date] [datetimeoffset](7) NULL,
	[sale_created_at] [datetimeoffset](7) NULL,
	[sale_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [sale_pkey] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_product]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_product](
	[sale_id] [int] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [sale_product_pkey] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_status]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_status](
	[sale_status_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_status_name] [nvarchar](max) NULL,
 CONSTRAINT [sale_status_pkey] PRIMARY KEY CLUSTERED 
(
	[sale_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_type]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_type](
	[sale_type_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_type_name] [nvarchar](max) NULL,
 CONSTRAINT [sale_type_pkey] PRIMARY KEY CLUSTERED 
(
	[sale_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_method]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_method](
	[shipping_method_id] [int] IDENTITY(1,1) NOT NULL,
	[shipping_method_name] [nvarchar](max) NULL,
 CONSTRAINT [shipping_method_pkey] PRIMARY KEY CLUSTERED 
(
	[shipping_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_name] [nvarchar](max) NULL,
 CONSTRAINT [size_pkey] PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[stock_id] [int] IDENTITY(1,1) NOT NULL,
	[stock_name] [nvarchar](max) NULL,
	[stock_address] [nvarchar](max) NULL,
 CONSTRAINT [stock_pkey] PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_variation]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_variation](
	[variation_id] [int] NOT NULL,
	[stock_id] [int] NOT NULL,
	[stock_quantity] [int] NULL,
 CONSTRAINT [stock_variation_pkey] PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC,
	[variation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topic]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topic](
	[topic_id] [int] IDENTITY(1,1) NOT NULL,
	[topic_name] [nvarchar](max) NULL,
 CONSTRAINT [topic_pkey] PRIMARY KEY CLUSTERED 
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[stock_id] [int] NULL,
	[variation_id] [int] NULL,
	[provider_id] [int] NULL,
	[incharge_employee_id] [uniqueidentifier] NULL,
	[transaction_type_id] [int] NULL,
	[transaction_quantity] [int] NULL,
	[transaction_date] [date] NULL,
	[transaction_product_price] [decimal](10, 2) NULL,
 CONSTRAINT [transaction_pkey] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_type]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_type](
	[transaction_type_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_type_name] [nvarchar](max) NULL,
 CONSTRAINT [transaction_type_pkey] PRIMARY KEY CLUSTERED 
(
	[transaction_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [int] NULL,
	[is_user_enabled] [bit] NULL,
	[user_google_id] [nvarchar](max) NULL,
	[user_username] [nvarchar](max) NULL,
	[user_password] [nvarchar](max) NULL,
	[user_fullname] [nvarchar](max) NULL,
	[user_email] [nvarchar](max) NULL,
	[user_phone] [nvarchar](12) NULL,
	[user_birthdate] [nvarchar](max) NULL,
	[user_address] [nvarchar](max) NULL,
	[user_image] [nvarchar](max) NULL,
	[user_current_payment_method] [nvarchar](max) NULL,
	[user_created_at] [datetimeoffset](7) NULL,
	[user_updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [user_pkey] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_discount]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_discount](
	[user_id] [uniqueidentifier] NOT NULL,
	[discount_id] [int] NOT NULL,
	[is_discount_used] [bit] NOT NULL,
	[discount_used_at] [datetimeoffset](7) NULL,
 CONSTRAINT [user_discount_pkey] PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_rank]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_rank](
	[user_id] [uniqueidentifier] NOT NULL,
	[rank_id] [int] NOT NULL,
	[money_spent] [decimal](10, 2) NULL,
	[rank_status] [smallint] NOT NULL,
	[rank_expire_date] [date] NOT NULL,
	[rank_created_date] [datetimeoffset](7) NULL,
	[rank_updated_date] [datetimeoffset](7) NULL,
 CONSTRAINT [user_rank_pkey] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[variation]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[variation](
	[variation_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [uniqueidentifier] NULL,
	[size_id] [int] NULL,
	[color_id] [int] NULL,
	[variation_image] [nvarchar](max) NULL,
	[variation_price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_variation_temp] PRIMARY KEY CLUSTERED 
(
	[variation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[variation_single]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[variation_single](
	[variation_single_id] [int] IDENTITY(1,1) NOT NULL,
	[variation_single_code] [nvarchar](max) NULL,
	[is_variation_single_bought] [bit] NULL,
 CONSTRAINT [PK_variation_single_temp] PRIMARY KEY CLUSTERED 
(
	[variation_single_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 8/20/2025 3:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[user_id] [uniqueidentifier] NULL,
	[product_id] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([brand_id], [brand_name], [brand_description], [brand_image_url], [brand_website_url], [brand_created_at], [brand_updated_at]) VALUES (1, N'Lumina Threads', N'Comfort that glows from within', N'https://i.ibb.co/rGXQ1pjk/Generated-Image-March-24-2025-10-26-AM-png.jpg', N'luminathreads.ae.com', CAST(N'2025-03-24T10:46:54.8005410+00:00' AS DateTimeOffset), CAST(N'2025-03-24T11:25:08.5485370+00:00' AS DateTimeOffset))
INSERT [dbo].[brand] ([brand_id], [brand_name], [brand_description], [brand_image_url], [brand_website_url], [brand_created_at], [brand_updated_at]) VALUES (2, N'Arcadian', N'Your journey, your style', N'https://i.ibb.co/rKVjMfH7/Generated-Image-March-24-2025-10-54-AM-png.jpg', N'arcadian.ae.com', CAST(N'2025-03-24T10:58:49.4608020+00:00' AS DateTimeOffset), CAST(N'2025-03-24T11:25:28.2334180+00:00' AS DateTimeOffset))
INSERT [dbo].[brand] ([brand_id], [brand_name], [brand_description], [brand_image_url], [brand_website_url], [brand_created_at], [brand_updated_at]) VALUES (3, N'Outliners', N'Beyond the ordinary', N'https://i.ibb.co/201DZWBJ/Generated-Image-March-24-2025-11-01-AM-png.jpg', N'outliners.ae.com', CAST(N'2025-03-24T11:01:49.9195770+00:00' AS DateTimeOffset), CAST(N'2025-03-24T11:25:40.0851710+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name], [category_description], [category_image_url], [category_created_at], [category_updated_at]) VALUES (1, N'Everyday Essentials', N'The foundational pieces for daily wear', N'https://i.ibb.co/39dy39M5/Generated-Image-March-24-2025-11-31-AM-png.jpg', CAST(N'2025-03-24T11:31:21.8451610+00:00' AS DateTimeOffset), CAST(N'2025-03-24T11:31:21.8451610+00:00' AS DateTimeOffset))
INSERT [dbo].[category] ([category_id], [category_name], [category_description], [category_image_url], [category_created_at], [category_updated_at]) VALUES (2, N'Professional Attire', N'Formal clothing designed for the workplace or professional settings.', N'https://i.ibb.co/S4386SNn/Generated-Image-March-24-2025-11-35-AM-png.jpg', CAST(N'2025-03-24T11:36:10.3760960+00:00' AS DateTimeOffset), CAST(N'2025-03-24T11:36:10.3760960+00:00' AS DateTimeOffset))
INSERT [dbo].[category] ([category_id], [category_name], [category_description], [category_image_url], [category_created_at], [category_updated_at]) VALUES (3, N'Casual Collective', N'Designed for ultimate comfort and relaxation at home.', N'https://i.ibb.co/ccXgbzxC/14.png', CAST(N'2025-03-24T11:38:24.5650350+00:00' AS DateTimeOffset), CAST(N'2025-03-24T11:38:24.5650350+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[color] ON 

INSERT [dbo].[color] ([color_id], [color_name], [color_hex_code]) VALUES (1, N'Red', N'#FF0000')
INSERT [dbo].[color] ([color_id], [color_name], [color_hex_code]) VALUES (2, N'Yellow', N'#FFFF00')
INSERT [dbo].[color] ([color_id], [color_name], [color_hex_code]) VALUES (3, N'Blue', N'#0000FF')
SET IDENTITY_INSERT [dbo].[color] OFF
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([comment_id], [review_id], [comment_content], [comment_created_at], [comment_updated_at]) VALUES (13, 7, N'PEAK', CAST(N'2025-08-18T14:05:44.7899277+07:00' AS DateTimeOffset), CAST(N'2025-08-18T14:05:44.7899277+07:00' AS DateTimeOffset))
INSERT [dbo].[comment] ([comment_id], [review_id], [comment_content], [comment_created_at], [comment_updated_at]) VALUES (14, 8, N'AAAAAAAAAAAAAAAAAAAA', CAST(N'2025-08-18T14:08:24.9817679+07:00' AS DateTimeOffset), CAST(N'2025-08-18T14:08:24.9817679+07:00' AS DateTimeOffset))
INSERT [dbo].[comment] ([comment_id], [review_id], [comment_content], [comment_created_at], [comment_updated_at]) VALUES (15, 9, N'AAAAAAAAAAAAAAAAAAAAAAAAAAAA', CAST(N'2025-08-19T15:09:57.9412123+07:00' AS DateTimeOffset), CAST(N'2025-08-19T15:10:05.3899479+07:00' AS DateTimeOffset))
INSERT [dbo].[comment] ([comment_id], [review_id], [comment_content], [comment_created_at], [comment_updated_at]) VALUES (21, 15, N'hey hey hey
', CAST(N'2025-08-19T16:07:11.3541515+07:00' AS DateTimeOffset), CAST(N'2025-08-19T16:07:11.3541515+07:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
INSERT [dbo].[comment_parent] ([comment_id], [comment_parent_id]) VALUES (14, 13)
INSERT [dbo].[comment_parent] ([comment_id], [comment_parent_id]) VALUES (16, 15)
INSERT [dbo].[comment_parent] ([comment_id], [comment_parent_id]) VALUES (26, 16)
GO
SET IDENTITY_INSERT [dbo].[discount] ON 

SET IDENTITY_INSERT [dbo].[discount] OFF
GO
SET IDENTITY_INSERT [dbo].[discount_status] ON 

INSERT [dbo].[discount_status] ([discount_status_id], [discount_status_name]) VALUES (1, N'INACTIVE')
INSERT [dbo].[discount_status] ([discount_status_id], [discount_status_name]) VALUES (2, N'ACTIVE')
INSERT [dbo].[discount_status] ([discount_status_id], [discount_status_name]) VALUES (3, N'EXPIRED')
SET IDENTITY_INSERT [dbo].[discount_status] OFF
GO
SET IDENTITY_INSERT [dbo].[discount_type] ON 

INSERT [dbo].[discount_type] ([discount_type_id], [discount_type_name]) VALUES (1, N'PERCENTAGE')
INSERT [dbo].[discount_type] ([discount_type_id], [discount_type_name]) VALUES (2, N'FIXED AMOUNT')
SET IDENTITY_INSERT [dbo].[discount_type] OFF
GO
SET IDENTITY_INSERT [dbo].[notification] ON 

INSERT [dbo].[notification] ([notification_id], [user_id_sender], [notification_title], [notification_content], [is_notification_draft], [notification_created_at], [notification_updated_at]) VALUES (3, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', N'Thông báo 101', N'Đây là một thông báo', 0, CAST(N'2025-04-09T10:07:12.1596690+00:00' AS DateTimeOffset), CAST(N'2025-04-09T10:07:12.1596690+00:00' AS DateTimeOffset))
INSERT [dbo].[notification] ([notification_id], [user_id_sender], [notification_title], [notification_content], [is_notification_draft], [notification_created_at], [notification_updated_at]) VALUES (4, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', N'Sản phẩm mới, bạn đã xem chưa?', N'Chúng tôi vừa nhập về một sản phẩm mới, đó là @) !JD*!@&#. Đặt hàng ngay nếu bạn không muốn bỏ lỡ cơ hội được giảm 30% trong ngày đầu tiên.', 0, CAST(N'2025-04-09T10:08:54.4644850+00:00' AS DateTimeOffset), CAST(N'2025-04-09T10:08:54.4644850+00:00' AS DateTimeOffset))
INSERT [dbo].[notification] ([notification_id], [user_id_sender], [notification_title], [notification_content], [is_notification_draft], [notification_created_at], [notification_updated_at]) VALUES (5, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', N'CHAO EM', N'ANH DUNG DAY TU CHIEU', 0, CAST(N'2025-04-10T22:34:20.6604760+00:00' AS DateTimeOffset), CAST(N'2025-04-10T22:34:20.6604760+00:00' AS DateTimeOffset))
INSERT [dbo].[notification] ([notification_id], [user_id_sender], [notification_title], [notification_content], [is_notification_draft], [notification_created_at], [notification_updated_at]) VALUES (7, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', N'Tòa Thành Bất Diệt, Serenhollow. Dưới ánh Nguyệt Thu, Kỷ Nguyên thứ 3364', N'Gửi Ngài Vaux Hongue Thangue kính mến,
Thời gian, tựa như một dòng sông lững lờ, dường như đã trôi đi quá lâu kể từ lần cuối cùng chúng ta trao nhau những lời thăm hỏi. Đêm nay, khi vầng trăng viên mãn ngự trị trên đỉnh trời, tỏa thứ ánh sáng bạc tinh khiết nhất, ta tự cho phép mình có được một niềm vui tao nhã là chấp bút viết cho Ngài đôi dòng, mang theo một thông điệp có tầm quan trọng đặc biệt.
Tại chốn này, chúng ta đã may mắn được chứng kiến sự xuất hiện của một nhà soạn nhạc kiệt xuất, một tài năng mà có lẽ không chỉ của thế kỷ này, mà phải của cả thiên niên kỷ. Ta tự hỏi, liệu cái tên Dé Sontulné Montepré đã từng vinh dự lọt đến tai Ngài hay chưa?
Phải diễn tả thế nào cho tương xứng đây? Những tác phẩm của ông ta không chỉ đơn thuần là âm nhạc; chúng là một sự mặc khải. Tài năng của ông ta đã đưa cả nền văn minh của chúng ta tiến lên một bậc. Những tâm hồn trai trẻ hiếu chiến, vốn luôn tìm kiếm lý tưởng để phụng sự, giờ đây đã tìm thấy sự đồng điệu và thống nhất trong những giai điệu hùng tráng của ông. Những nỗi thống khổ trần tục, những gánh nặng ưu phiền, dường như cũng tan biến đi mỗi khi tuyệt tác của ông ta vang lên.
Ta chợt mường tượng về một đêm tao ngộ, khi hai chúng ta cùng ngồi dưới ánh trăng huyền ảo, để cho những nốt nhạc của Montepré dẫn dắt dòng chảy của cuộc trò chuyện, đưa đẩy những suy tư của chúng ta đến những miền đất của triết học và nghệ thuật. Một viễn cảnh thật đáng để mong chờ, Ngài có nghĩ vậy không?
Ta sẽ chờ đợi hồi âm từ Ngài.
Trân trọng,
Lais Trung Haute', 0, CAST(N'2025-08-19T14:31:26.6355417+07:00' AS DateTimeOffset), CAST(N'2025-08-19T14:31:26.6355417+07:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[notification] OFF
GO
INSERT [dbo].[notification_user] ([notification_id], [user_id], [is_notification_viewed], [is_notification_deleted]) VALUES (6, N'ecfa57af-8f53-4be8-898d-15ed56aeeb88', 1, 0)
INSERT [dbo].[notification_user] ([notification_id], [user_id], [is_notification_viewed], [is_notification_deleted]) VALUES (7, N'ecfa57af-8f53-4be8-898d-15ed56aeeb88', 1, 1)
INSERT [dbo].[notification_user] ([notification_id], [user_id], [is_notification_viewed], [is_notification_deleted]) VALUES (14, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[order_status] ON 

INSERT [dbo].[order_status] ([order_status_id], [order_status_name]) VALUES (1, N'PENDING')
INSERT [dbo].[order_status] ([order_status_id], [order_status_name]) VALUES (2, N'PROCESSING')
INSERT [dbo].[order_status] ([order_status_id], [order_status_name]) VALUES (3, N'SHIPPING')
SET IDENTITY_INSERT [dbo].[order_status] OFF
GO
INSERT [dbo].[order_variation_single] ([order_id], [variation_single_id], [sale_id], [variation_price_at_purchase]) VALUES (N'25666454-ae99-45af-bb0c-77edf89ff3e3', 88, NULL, CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_variation_single] ([order_id], [variation_single_id], [sale_id], [variation_price_at_purchase]) VALUES (N'73861e0a-9541-4993-9184-d58278d3e44e', 87, NULL, CAST(169000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_variation_single] ([order_id], [variation_single_id], [sale_id], [variation_price_at_purchase]) VALUES (N'fd9c2d45-4b75-4a41-8c96-91d5d43a3aaf', 89, NULL, CAST(850000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[payment_method] ON 

INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name]) VALUES (1, N'COD')
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name]) VALUES (2, N'VNPAY')
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name]) VALUES (3, N'TRANSFER')
SET IDENTITY_INSERT [dbo].[payment_method] OFF
GO
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'a85b0278-bab3-49dc-9c18-01d5d4ad0286', 1, 4, N'Áo len cổ chữ V', N'ÁOL705', N'Áo len cổ chữ V', CAST(N'2025-03-26T14:34:36.8032180+00:00' AS DateTimeOffset), CAST(N'2025-08-18T14:00:07.4398321+07:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'2f72a228-1e9a-4846-a736-04cbf8dfacd6', 6, 2, N'Đầm Suông Linen Thoáng Mát', N'ĐẦM314', N'-Đầm được thiết kế thanh nhã với kiểu dáng trẻ trung
-Đầm được may từ chất liệu cao cấp cho cảm giác mềm mại, thoáng mát và vô cùng dễ chịu khi mặc.
-Dễ dàng bảo quản, giặt ủi, chất liệu mau khô
-Màu sắc tươi tắn, trẻ trung giúp phái đẹp them tự tin mỗi khi xuống phố', CAST(N'2025-03-27T09:46:51.5821370+00:00' AS DateTimeOffset), CAST(N'2025-03-27T09:46:51.5821370+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'2ae28f8e-b734-409d-9d88-0c7e5e19686d', 6, 3, N'Đầm body thun gân tăm áo cổ tròn tay dài from dáng dài xẻ tà', N'ĐẦM605', N'Đầm body thun gân tăm áo cổ tròn tay dài from dáng dài xẻ tà sang chảnh thời trang nữ BONUCCI', CAST(N'2025-03-26T10:18:59.4425800+00:00' AS DateTimeOffset), CAST(N'2025-03-26T10:46:04.3231670+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'6a0c33f2-df2a-48d5-bbec-14bcd0507156', 5, 2, N'Áo Khoác Mùa Đông Nữ Lông Cừu Lót Dày Rời Phiên Bản Hàn Quốc Có Mũ Trùm Đầu Áo Lông Màu Trơn', N'ÁOK496', N'Thông tin sản phẩm:
 Màu: Hồng, Trắng
 Kích thước: M / L / XL / XXL', CAST(N'2025-03-28T09:57:48.3738260+00:00' AS DateTimeOffset), CAST(N'2025-03-28T09:57:48.3738260+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'cca9fa22-8db7-4c19-90ff-1c0e96e69754', 4, 3, N'Quần Tây Tím Than Tối Chống Nhăn, Co Giãn', N'QUẦ868', N'Chất liệu: 69% Poly, 29% Rayon, 2% Spandex

Kiểu dáng: Ống đứng ôm vừa, tôn dáng người mặc

Thiết kế: Basic, phần cạp có cúc cài trước, bên trong có móc cài giúp định vị phần cạp, giữ form dáng

Ưu điểm: Bền màu, chống nhăn, chống nhàu, thấm hút mồ hôi tốt, co giãn tốt', CAST(N'2025-03-26T10:33:58.2557920+00:00' AS DateTimeOffset), CAST(N'2025-03-26T10:46:04.3231670+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'3121a13a-b113-49bb-8fa3-1f2e4c5a5b0a', 1, 3, N'Quần Baggy Vải Tuyết Mưa', N'QUẦ928', N'Mặc đi làm đi chơi rất đẹp
Mặc đứng dáng siêu xinh
', CAST(N'2025-03-28T11:00:35.7550450+00:00' AS DateTimeOffset), CAST(N'2025-03-28T11:01:21.1220830+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'ae583c6d-ecca-465b-8bac-1fe47ec306fc', 3, 2, N'Áo sơ mi lụa,tay bồng,cổ vest', N'ÁOS558', N'Chiếc áo lụa của những khoảnh khắc LÃNG MẠN nhất... 
Của sự DỊU NHẸ, nhưng cũng ĐỘC ĐÁO nhất... ', CAST(N'2025-03-28T10:15:54.5277450+00:00' AS DateTimeOffset), CAST(N'2025-03-28T10:15:54.5277450+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'f2ecb711-38fe-4d31-b140-2a51aef473e9', 3, 3, N'Đầm Sơ Mi Dáng Dài', N'ĐẦM273', N'Đầm midi cotton họa tiết sọc cổ điển .


Cổ áo sơ mi classic
Eo bo chun
Tay dài
Khuy cài tay áo
Chân váy bèo xếp ly
Họa tiết kẻ sọc
Chất liệu cotton
Chiều dài đầm tính từ vai: 111.25 cm', CAST(N'2025-03-26T15:30:28.9975060+00:00' AS DateTimeOffset), CAST(N'2025-03-26T15:36:59.0275840+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'92019d2d-80f9-40c2-ace1-3dbbfe3dc9f1', 2, 2, N'Áo Sơ Mi OXFORD', N'ÁOS890', N'Oxford Shirt
Một trong 3 màu sơ mi oxford mới về, chất vải mềm, dày dặn và thấm hút. ', CAST(N'2025-03-27T08:30:32.6359130+00:00' AS DateTimeOffset), CAST(N'2025-03-27T08:30:32.6359130+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'8ae50a79-4ab4-4f11-b6f6-3ede056b3861', 3, 2, N'Váy Ngắn Xòe', N'VÁY197', N'Chân Váy Đen Dáng Xòe Ngắn Xếp Tầng Dành Cho Nữ
Chân váy có thể kết hợp với áo croptop, baby tee, áo thun, áo phồng đều rất xinh nha các nàng
', CAST(N'2025-03-28T10:36:09.0440370+00:00' AS DateTimeOffset), CAST(N'2025-03-28T10:36:09.0440370+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'33a3f2e0-34a1-446f-ac8d-47cad6b02e2c', 2, 2, N'Quần Âu Hàn Quốc', N'QUẦ667', N'Quần âu Hàn Quốc với chất liệu đa dạng, mẫu mã phong phú, giá cả phải chăng.

– Cung cấp kích thước sản phẩm từ size S đến XXXL.', CAST(N'2025-03-28T08:39:30.1978900+00:00' AS DateTimeOffset), CAST(N'2025-03-28T08:39:30.1978900+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'04a67658-96c5-457c-97a6-4b1eb8a94583', 6, 3, N'Áo len cashmere cổ tròn', N'ÁOL697', N'Áo len dệt gân với họa tiết đan cáp, làm từ chất liệu len pha lông cừu và cashmere, cổ tròn và tay dài.

Áo len đan nữ Sandro
Chất liệu len pha lông cừu và cashmere
Hiệu ứng xếp lớp ở phần gấu áo hai mép
Cổ tròn
Tay dài', CAST(N'2025-03-26T15:20:47.4671090+00:00' AS DateTimeOffset), CAST(N'2025-03-26T15:36:59.0275840+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'a7609ca5-2e02-46b0-9a9b-4d85b5b10180', 4, 2, N'Quần Jeans Rách Ống Loe', N'QUẦ869', N'QUẦN JEAN ỐNG LOE LƯNG CAO RÁCH GỐI ĐAN DÂY - PHONG CÁCH HÀN QUỐC 
Chiếc quần must-have giúp đôi chân dài miên man!
', CAST(N'2025-03-28T10:34:44.1009340+00:00' AS DateTimeOffset), CAST(N'2025-03-28T10:34:44.1009340+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'7915da52-436f-438d-a61f-53917f2b41c4', 5, 4, N'Áo Khoác Jean Nữ', N'ÁOK685', N'Áo khoác denim wash.
Form dáng ngắn và thẳng.
Thêu thủ công, đính sequin và hạt ở thân áo
Chỉ may màu tương phản.
Cổ áo classic.
Tay dài.
Hai túi hộp vá trước ngực có nắp.
Cài nút.', CAST(N'2025-03-26T14:19:19.7269140+00:00' AS DateTimeOffset), CAST(N'2025-08-18T14:00:07.4518473+07:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'abf1d210-8f1e-4753-a6f6-54301c1e7e8b', 1, 2, N'Đầm Trắng Tiểu Thư', N'ĐẦM561', N'CHẤT LIỆU SẢN PHẨM VÁY TRẮNG TIỂU THƯ ĐẦM TRẮNG DỰ TIỆC CHẤT LIỆU COTTON HÀN CAO CẤP MỀM MỊN 2 LỚP
Vải Cotton Hàn : Đặc tính mềm mại, độ bền cao, thấm hút mồ hôi tốt phù hợp với mọi dáng người, trong mọi điều kiện thời tiết.', CAST(N'2025-03-28T08:24:31.8126490+00:00' AS DateTimeOffset), CAST(N'2025-03-28T08:24:31.8126490+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'1ff680b4-91cc-408f-a218-63e4cd6d8aa6', 4, 3, N'Váy Midi', N'VÁY398', N'Chân váy chữ A dáng xòe bằng vải faille pha cotton với túi phía trước.
Cạp cao
Hai túi phía trước
Cài khóa kéo bên hông
Mặt trong được may lót cùng tông', CAST(N'2025-03-26T14:25:54.7169470+00:00' AS DateTimeOffset), CAST(N'2025-03-26T14:37:05.5867500+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'cb25da06-3b1f-417a-8bc3-6961aee8843b', 4, 3, N'Quần jeans lửng suông rộng denim Nhật Bản', N'QUẦ920', N'Quần jeans dáng lửng ống suông rộng làm từ vải denim Nhật Bản.
Mác da KENZO Paris ở mặt sau.
Cúc KENZO Paris.
Đường khâu ở túi sau hình Núi Phú Sĩ.
Quần denim Kuroki Nhật Bản.
Hai túi trước', CAST(N'2025-03-26T15:05:47.1226040+00:00' AS DateTimeOffset), CAST(N'2025-03-26T15:07:25.8703850+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'50e55ab7-ee7b-44a8-b24a-6cf884805ef5', 2, 3, N'Quần Jogger Nam Thể Thao Pigofashion Cao Cấp JGN01', N'QUẦ148', N'Đường may chắc chắn, sắc xảo
Chất liệu thun nỉ thể thao mát co giãn 4 chiều , nhẹ co giãn vô cùng thoải mái
Túi có khóa kéo an toàn tiện lợi đựng ví da, điện thoại. Lưng dây rút kèm theo
Hàng giống hình 100% về kiểu dáng, màu sắc chênh lệch ko đáng kể do độ phân giải màn hình
Kiểu dáng đơn giản, dễ mặc, phù hợp nhiều lứa tuổi
Mặc chơi thể thao, dạo phố cùng bạn bè

Hướng dẫn sử dụng, bảo quản
- Giặt những sản phẩm cùng gam màu với nhau lần giặt đầu tiên.
- Hạn chế dùng chất tẩy đậm đặc.
- Ủi và sấy ở nhiệt độ thích hợp.
- Khuyến khích lộn mặt trái khi phơi để giữ sản phẩm bền màu hơn.', CAST(N'2025-03-25T09:37:41.2699780+00:00' AS DateTimeOffset), CAST(N'2025-03-26T10:46:04.3231670+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'4cb234f7-db1f-4140-a9b8-86fd6056d987', 1, 3, N'Váy Jean Dáng Xòe', N'VÁY959', N'Thành phần vải: 100% Cotton
Xuất xứ thương hiệu: Ý
Sản xuất tại: Thổ Nhĩ Kỳ
Thiết kế cạp cao kèm đỉa thắt lưng

Ba túi phía trước
Khóa kéo zip và nút cài tròn
Cạp cao, dáng xòe nữ tính', CAST(N'2025-03-26T15:09:59.8681290+00:00' AS DateTimeOffset), CAST(N'2025-03-26T15:36:59.0275840+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'82c8797c-32ed-44fc-808b-8e82a0f59c63', 3, 2, N'Váy Midi Linen Cúc Gỗ', N'VÁY077', N'Tên: Đầm Váy Vintage cúc gỗ chất Linen hàng QC 2 lớp, dáng dài qua gối.
Cổ V tay ngắn, thắt eo thanh lịch, trang nhã. Đầm phong cách Vintage
Kiểu dáng đơn giản phù hợp đi chơi, đi cafe, dự tiệc, công sở.
Chất liệu: Linen.
Màu sắc: 2 màu
Kích Thước: Size S/M/L/XL/XXL', CAST(N'2025-03-28T08:17:04.9604850+00:00' AS DateTimeOffset), CAST(N'2025-03-28T08:17:04.9604850+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'79994f72-c1c8-460e-acf4-906e3d0924c5', 1, 3, N'Áo polo nam cổ V Vee Polo mềm mịn thoáng mát ', N'ÁOP310', N'Nguồn gốc xuất xứ: Việt Nam
- Chất liệu: 100% Organic Cotton
+ Mềm mịn, thoáng mát, thấm hút mồ hôi tốt và thân thiện với làn da
+ Cổ V basic dễ phối đồ, lịch sự nhưng vẫn thoải mái
- Form: Slim
+ Ôm gọn cơ thể, chỉn chu thanh lịch', CAST(N'2025-03-26T10:11:59.0884560+00:00' AS DateTimeOffset), CAST(N'2025-03-26T10:46:04.3231670+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'ae780342-3f8f-4396-bf6a-9d9e72737f36', 6, 3, N'Áo Thun Polo Thể Thao', N'ÁOT109', N'CHẤT LIỆU: Vải Cá Sấu Piqué 98% Cotton, 2% spandex. Sớ vải to, thấm hút mồ hôi tốt, dày dặn, giữ form tốt. Công nghệ Wash nóng định hình, hạn chế co rút và giữ form bền đẹp. Độ bền cao.
', CAST(N'2025-03-26T13:36:22.6461930+00:00' AS DateTimeOffset), CAST(N'2025-03-26T13:53:16.7640170+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'defa44c9-4940-424f-be58-9dd3d3fd0bfa', 6, 2, N'Áo Polo Cotton Trắng New Ways', N'ÁOP613', N'THÔNG TIN SẢN PHẨM
Xuất xứ: Việt Nam
Gia công: Việt Nam
cotton mềm mịn, thoáng mát', CAST(N'2025-03-28T09:05:25.4741660+00:00' AS DateTimeOffset), CAST(N'2025-03-28T09:05:25.4741660+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'1b309565-8b21-407f-8fed-9f1c4807b8f1', 4, 2, N'Quần Short Jean Rách', N'QUẦ062', N'Dòng quần shorts trên gối, phù hợp để mặc cả ở nhà và dạo phố.
Có đến 3 gam màu khác nhau cho ae dễ dàng chọn lựa: Trắng, Xanh Nhạt, Xám Đậm
Chi tiết cào rách ngang đùi siêu bụi.
Form Slim ôm người, tôn dáng', CAST(N'2025-03-27T09:34:32.4836200+00:00' AS DateTimeOffset), CAST(N'2025-03-27T09:34:32.4836200+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'01e8f17c-8a59-4c9a-a529-adb40ef77240', 2, 4, N'Áo khoác kimono dáng ngắn', N'ÁOK556', N'Áo khoác kimono dáng ngắn.
Vải cotton có lớp lót satin
Tay áo kiểu kimono ở phía sau.
Móc cài cổ
Tab vai
Túi bên hông.
Khóa đôi
Một túi bên trong.
Dây điều chỉnh cổ tay.
Nhãn KENZO Paris ở phía sau.
Các nút được khắc.', CAST(N'2025-03-26T15:32:13.6787810+00:00' AS DateTimeOffset), CAST(N'2025-08-18T14:00:07.4518473+07:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'b0579bfb-9b5e-4d99-81e9-b15bb2ba56ee', 1, 3, N'Áo Thể Thao Nam Ba Lổ Năng Động – LD9181', N'ÁOT408', N'Vải poly thoáng mát, co giãn tốt, thấm hút mồ hôi,.
Form regular fit, tôn dáng.
Chất vải mềm mại, nhẹ, không gây bí bách.
Áo thể thao gam màu thời trang, năng động.', CAST(N'2025-03-25T09:18:33.1914410+00:00' AS DateTimeOffset), CAST(N'2025-04-17T12:00:24.7154900+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'0c89dc33-d903-456a-af2d-b239a9c6fcaa', 5, 2, N'Áo Len Mỏng Cổ Lọ', N'ÁOL087', N'THÔNG TIN SẢN PHẨM ÁO LEN NAM 
- Chất liệu: Len cotton
- Áo len có thể kết hợp với nhiều trang phục khác nhau: quần jean, quần âu, giày tây, giày thể thao...
- Sản phẩm có thể giặt máy thoải mái', CAST(N'2025-03-28T10:03:19.4272940+00:00' AS DateTimeOffset), CAST(N'2025-03-28T10:03:19.4272940+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'8baeb037-71d2-42e5-a25a-b4840a63a7ce', 2, 4, N'Quần Culottes Kaki', N'QUẦ035', N'
Loại sản phẩm: Quần culottes
Phong cách: Feminine - Dịu dàng nữ tính', CAST(N'2025-03-26T14:09:32.9623820+00:00' AS DateTimeOffset), CAST(N'2025-08-18T14:00:07.4518473+07:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'4a11431a-ed35-4c0c-9a12-ba6a8a9bf12c', 4, 2, N'Váy Liền Nhung Kẻ Váy Ngắn Chữ A Xếp Ly Kiểu Tây Trẻ Trung', N'VÁY532', N'Vải/Chất Liệu: Vải Nhung/Polyester (Sợi Polyester)
Phong Cách: Đơn Giản Đi Lại/Phiên Bản Hàn Quốc', CAST(N'2025-03-28T09:48:53.5113070+00:00' AS DateTimeOffset), CAST(N'2025-03-28T09:48:53.5113070+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'eb84fd4d-b305-45f6-b1b9-c1082c267d56', 1, 2, N'Quần Tây Ống Đứng Công Sở', N'QUẦ992', N'Vải tuyết mưa loại 1 hàng vitex, có độ co dãn, bền màu
Không nhăn và không bám bụi, không bị xù lông sau một thời gian dài sử dụng.', CAST(N'2025-03-27T09:15:26.1966940+00:00' AS DateTimeOffset), CAST(N'2025-03-27T09:15:26.1966940+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'a2e98027-f414-47ee-9a39-c64aca1419c7', 2, 3, N'Áo Khoác Jean Denim Nam AMANLAB', N'ÁOK157', N'Chi tiết Áo khoác jean denim nam, jacket jean wax luxury phong cách bụi bặm cá tính, cao cấp

Chất liệu: chất vải jean thấm hút mồ hôi nhanh, cảm giác vô cùng ấm áp vào mùa đông. Có thể mặc khoác ngoài áo thun, áo phông đều đẹp

Hàng còn nguyên tem mác, cực sang chảnh

Họa tiết basic, khách hàng phối quần jeans, kaki, short đều đẹp. Mặc dạo phố, du lịch hay đến các buổi tiệc đều mang đến sự tự tin đẳng cấp dành cho khách hàng.', CAST(N'2025-03-24T16:13:55.0302370+00:00' AS DateTimeOffset), CAST(N'2025-07-24T13:25:57.1879830+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'3a569c04-4731-4040-9908-cee6db27e58c', 2, 3, N'Áo Thun Ba Lỗ Cotton', N'ÁOT069', N'Áo ba lỗ cổ tròn, có lỗ khoét tay kiểu Mỹ, được trang trí bằng thêu trên ngực.

Áo ba lỗ nữ Sandro
Lỗ tay áo kiểu Mỹ
Cổ tròn
Hình thêu SANDRO.', CAST(N'2025-03-26T14:22:33.2318300+00:00' AS DateTimeOffset), CAST(N'2025-03-26T14:37:05.5867500+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'820f4f06-299a-4389-b10a-d1ff5ac4fd61', 1, 3, N'Đầm bầu CF W099002 Xanh đen', N'ĐẦM639', N'Tên sản phẩm: Đầm bầu CF W099002 Xanh đen

Thương hiệu: CF
Sản xuất tại: Việt Nam
Chất liệu : 90% cotton, 10% spandex
HƯỚNG DẪN SỬ DỤNG
- Hạn chế dùng sản phẩm giặt tẩy
- Không ngâm, giặt chung với sản phẩm ra màu
- Không giặt trong nước nóng trên 40°C
- Nên ủi/là mặt trái sản phẩm.', CAST(N'2025-03-25T09:27:44.2495300+00:00' AS DateTimeOffset), CAST(N'2025-03-26T10:46:04.3231670+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'279468c9-9960-4b47-9919-dfd308fd19b4', 2, 3, N'ÁO DA NAM BIKER AM22-07', N'ÁOD607', N'Áo khoác da nam phong cách Biker AM22-07 là sản phẩm cao cấp với chất liệu da dê thật bền bỉ, mềm mại mang tới cảm giác thoải mái cho các chàng trai đam mê phong cách mạnh mẽ và thời thượng.

Da áo: Da dê cao cấp, bền bỉ và mềm mại, với độ đàn hồi tốt mang đến cảm giác thoải mái khi sử dụng.
Lót trong: Lót lụa mềm mại, bóng mượt cho cảm giác mát mẻ, thoải mái khi tiếp xúc, cọ sát.
Phụ kiện: Dây kéo, khóa, nút YKK chính hãng nổi tiếng thế giới của Nhật Bản được Davinet bảo hành trọn đời. Đường may sắc nét, tinh tế với sợi chỉ siêu bền của thương hiệu Aman đến từ cộng hòa Đức.', CAST(N'2025-03-25T09:52:06.6473660+00:00' AS DateTimeOffset), CAST(N'2025-03-26T10:46:04.3231670+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'e460c599-1ef0-4c1a-9648-dfeae7feefb1', 1, 3, N'Áo Sơ Mi Tay Dài Trơn', N'ÁOS490', N'Áo sơ mi có cổ áo cổ điển, tay dài với cổ tay cài nút, cài nút ở phía trước và gấu áo sơ mi.

Áo sơ mi nam Sandro
Cổ áo sơ mi
Tay dài có khuy cài
Gấu áo sơ mi
Kiểu dáng cổ điển', CAST(N'2025-03-26T14:48:21.5586410+00:00' AS DateTimeOffset), CAST(N'2025-03-26T15:02:31.4026190+00:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'91ca633b-397b-4545-a6fd-e1b028e28d2a', 3, 4, N'Đầm maxi phối dây hở lưng', N'ĐẦM392', N'Đầm maxi có dây buộc, đường viền cổ khoét và hở lưng có dây buộc chéo.

Đầm maxi sọc nữ Sandro
Dây đai mảnh có thể điều chỉnh
Hở lưng có dây buộc chéo
Đường viền cổ khoét
Đầm xòe nhẹ', CAST(N'2025-03-26T15:34:44.2431400+00:00' AS DateTimeOffset), CAST(N'2025-08-18T14:00:07.4528516+07:00' AS DateTimeOffset))
INSERT [dbo].[product] ([product_id], [brand_id], [product_status_id], [product_name], [product_code], [product_description], [product_created_at], [product_updated_at]) VALUES (N'251c1491-0bf9-414c-829e-fa252f16037e', 5, 2, N'Chân váy ngắn xếp tầng', N'CHÂ129', N'Chân váy ngắn xếp nếp ở eo, có dây rút ở hai bên.

Chân váy ngắn nhún bèo nữ Sandro
Dây rút bên hông
Vải quấn
Khóa kéo bên hông', CAST(N'2025-03-28T10:10:52.1911660+00:00' AS DateTimeOffset), CAST(N'2025-03-28T10:10:52.1911660+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'49c158a0-180e-44aa-b60f-43a2c65fc9c6', 3)
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'820f4f06-299a-4389-b10a-d1ff5ac4fd61', 3)
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'3cb1ed73-0bef-447b-bb1a-798c3fd8ae82', 1)
GO
SET IDENTITY_INSERT [dbo].[product_status] ON 

INSERT [dbo].[product_status] ([product_status_id], [product_status_name]) VALUES (1, N'OUT OF STOCK')
INSERT [dbo].[product_status] ([product_status_id], [product_status_name]) VALUES (2, N'IMPORTING')
INSERT [dbo].[product_status] ([product_status_id], [product_status_name]) VALUES (3, N'AVAILABLE')
SET IDENTITY_INSERT [dbo].[product_status] OFF
GO
SET IDENTITY_INSERT [dbo].[provider] ON 

INSERT [dbo].[provider] ([provider_id], [provider_name], [provider_image_url], [provider_email], [provider_phone], [provider_address], [provider_created_at], [provider_updated_at]) VALUES (2, N'Eldoria', N'https://i.ibb.co/WppfkbNB/Generated-Image-March-25-2025-9-08-AM-png.jpg', N'eldoria@ae.com', N'0987654321', N'Eldoria, Aerithreria', CAST(N'2025-03-25T09:03:48.8302460+00:00' AS DateTimeOffset), CAST(N'2025-03-25T09:13:40.1395490+00:00' AS DateTimeOffset))
INSERT [dbo].[provider] ([provider_id], [provider_name], [provider_image_url], [provider_email], [provider_phone], [provider_address], [provider_created_at], [provider_updated_at]) VALUES (3, N'ABC', N'https://i.ibb.co/v6BJL1k3/EN-Terra-Investment-Masterclass-teaser.png', N'abc@abc.abc', N'0123456787', N'Can Tho', CAST(N'2025-04-10T22:33:37.7597210+00:00' AS DateTimeOffset), CAST(N'2025-04-10T22:33:48.4164940+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[provider] OFF
GO
SET IDENTITY_INSERT [dbo].[rank] ON 

INSERT [dbo].[rank] ([rank_id], [rank_name], [rank_num], [rank_payment_requirement], [rank_base_discount]) VALUES (1, N'Unranked', 1, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(3, 2)))
INSERT [dbo].[rank] ([rank_id], [rank_name], [rank_num], [rank_payment_requirement], [rank_base_discount]) VALUES (2, N'Bronze', 2, CAST(1000000.00 AS Decimal(10, 2)), CAST(0.02 AS Decimal(3, 2)))
INSERT [dbo].[rank] ([rank_id], [rank_name], [rank_num], [rank_payment_requirement], [rank_base_discount]) VALUES (3, N'Silver', 3, CAST(5000000.00 AS Decimal(10, 2)), CAST(0.05 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[rank] OFF
GO
SET IDENTITY_INSERT [dbo].[review] ON 

INSERT [dbo].[review] ([review_id], [product_id], [user_id], [order_id], [review_rating]) VALUES (5, N'c684b9d2-af82-4244-af0b-efe997b1b874', N'e43dff5d-7cac-45c7-a699-81b48beb33ef', NULL, NULL)
INSERT [dbo].[review] ([review_id], [product_id], [user_id], [order_id], [review_rating]) VALUES (6, N'f8402d8b-5f94-43de-a4ab-455a70510d31', N'e43dff5d-7cac-45c7-a699-81b48beb33ef', NULL, NULL)
INSERT [dbo].[review] ([review_id], [product_id], [user_id], [order_id], [review_rating]) VALUES (7, N'2ae28f8e-b734-409d-9d88-0c7e5e19686d', N'51f4f876-ef0a-4e0f-b72b-3730e7c4c4d0', N'73861e0a-9541-4993-9184-d58278d3e44e', 5)
SET IDENTITY_INSERT [dbo].[review] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (2, N'CUSTOMER')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (3, N'STAFF')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[sale] ON 

INSERT [dbo].[sale] ([sale_id], [sale_type_id], [sale_status_id], [sale_value], [sale_start_date], [sale_end_date], [sale_created_at], [sale_updated_at]) VALUES (10, 2, 2, CAST(270000.00 AS Decimal(10, 2)), CAST(N'2025-08-19T08:33:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-08-20T08:33:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-08-16T15:33:43.2901687+07:00' AS DateTimeOffset), CAST(N'2025-08-19T15:33:00.0503897+07:00' AS DateTimeOffset))
INSERT [dbo].[sale] ([sale_id], [sale_type_id], [sale_status_id], [sale_value], [sale_start_date], [sale_end_date], [sale_created_at], [sale_updated_at]) VALUES (11, 1, 3, CAST(12.00 AS Decimal(10, 2)), CAST(N'2025-08-16T08:54:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-08-23T08:56:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-08-16T15:53:54.8647298+07:00' AS DateTimeOffset), CAST(N'2025-08-16T16:06:30.2403285+07:00' AS DateTimeOffset))
INSERT [dbo].[sale] ([sale_id], [sale_type_id], [sale_status_id], [sale_value], [sale_start_date], [sale_end_date], [sale_created_at], [sale_updated_at]) VALUES (12, 1, 2, CAST(12.00 AS Decimal(10, 2)), CAST(N'2025-08-16T09:02:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-08-27T09:01:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-08-16T16:01:38.3708663+07:00' AS DateTimeOffset), CAST(N'2025-08-16T16:02:00.0260624+07:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[sale] OFF
GO
SET IDENTITY_INSERT [dbo].[sale_status] ON 

INSERT [dbo].[sale_status] ([sale_status_id], [sale_status_name]) VALUES (1, N'INACTIVE')
INSERT [dbo].[sale_status] ([sale_status_id], [sale_status_name]) VALUES (2, N'ACTIVE')
INSERT [dbo].[sale_status] ([sale_status_id], [sale_status_name]) VALUES (3, N'EXPIRED')
SET IDENTITY_INSERT [dbo].[sale_status] OFF
GO
SET IDENTITY_INSERT [dbo].[sale_type] ON 

INSERT [dbo].[sale_type] ([sale_type_id], [sale_type_name]) VALUES (1, N'PERCENTAGE')
INSERT [dbo].[sale_type] ([sale_type_id], [sale_type_name]) VALUES (2, N'FIXED AMOUNT')
SET IDENTITY_INSERT [dbo].[sale_type] OFF
GO
SET IDENTITY_INSERT [dbo].[shipping_method] ON 

INSERT [dbo].[shipping_method] ([shipping_method_id], [shipping_method_name]) VALUES (1, N'EXPRESS')
INSERT [dbo].[shipping_method] ([shipping_method_id], [shipping_method_name]) VALUES (2, N'STANDARD')
SET IDENTITY_INSERT [dbo].[shipping_method] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([size_id], [size_name]) VALUES (1, N'S')
INSERT [dbo].[size] ([size_id], [size_name]) VALUES (2, N'M')
INSERT [dbo].[size] ([size_id], [size_name]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET IDENTITY_INSERT [dbo].[stock] ON 

INSERT [dbo].[stock] ([stock_id], [stock_name], [stock_address]) VALUES (1, N'Unleashed VL', N'Bình Minh, Vĩnh Long')
INSERT [dbo].[stock] ([stock_id], [stock_name], [stock_address]) VALUES (2, N'Unleashed CT', N'Ninh Kiều, Cần Thơ')
INSERT [dbo].[stock] ([stock_id], [stock_name], [stock_address]) VALUES (3, N'Unleashed ST', N'Sóc Trăng, Sóc Trăng')
SET IDENTITY_INSERT [dbo].[stock] OFF
GO
INSERT [dbo].[stock_variation] ([variation_id], [stock_id], [stock_quantity]) VALUES (41, 1, 1009)
INSERT [dbo].[stock_variation] ([variation_id], [stock_id], [stock_quantity]) VALUES (42, 1, 932)
INSERT [dbo].[stock_variation] ([variation_id], [stock_id], [stock_quantity]) VALUES (43, 1, 999)
GO
SET IDENTITY_INSERT [dbo].[topic] ON 

INSERT [dbo].[topic] ([topic_id], [topic_name]) VALUES (1, N'Website navigation')
INSERT [dbo].[topic] ([topic_id], [topic_name]) VALUES (2, N'Product presentation')
INSERT [dbo].[topic] ([topic_id], [topic_name]) VALUES (3, N'Order & Checkout')
SET IDENTITY_INSERT [dbo].[topic] OFF
GO
SET IDENTITY_INSERT [dbo].[transaction] ON 

INSERT [dbo].[transaction] ([transaction_id], [stock_id], [variation_id], [provider_id], [incharge_employee_id], [transaction_type_id], [transaction_quantity], [transaction_date], [transaction_product_price]) VALUES (20, 1, 41, 2, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', 1, 1000, CAST(N'2025-03-26' AS Date), CAST(850000.00 AS Decimal(10, 2)))
INSERT [dbo].[transaction] ([transaction_id], [stock_id], [variation_id], [provider_id], [incharge_employee_id], [transaction_type_id], [transaction_quantity], [transaction_date], [transaction_product_price]) VALUES (21, 1, 42, 2, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', 1, 1000, CAST(N'2025-03-26' AS Date), CAST(850000.00 AS Decimal(10, 2)))
INSERT [dbo].[transaction] ([transaction_id], [stock_id], [variation_id], [provider_id], [incharge_employee_id], [transaction_type_id], [transaction_quantity], [transaction_date], [transaction_product_price]) VALUES (22, 1, 43, 2, N'e43dff5d-7cac-45c7-a699-81b48beb33ef', 1, 1000, CAST(N'2025-03-26' AS Date), CAST(85000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[transaction_type] ON 

INSERT [dbo].[transaction_type] ([transaction_type_id], [transaction_type_name]) VALUES (1, N'IN')
INSERT [dbo].[transaction_type] ([transaction_type_id], [transaction_type_name]) VALUES (2, N'OUT')
SET IDENTITY_INSERT [dbo].[transaction_type] OFF
GO
INSERT [dbo].[user] ([user_id], [role_id], [is_user_enabled], [user_google_id], [user_username], [user_password], [user_fullname], [user_email], [user_phone], [user_birthdate], [user_address], [user_image], [user_current_payment_method], [user_created_at], [user_updated_at]) VALUES (N'aaf723c0-4382-47fc-8e84-5dc72303730b', 2, 0, NULL, N'System-chan', N'system_refused_AAHNCO198486', N'System', N'system@unleashed.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-08-19T16:05:40.2833030+07:00' AS DateTimeOffset), CAST(N'2025-08-19T16:05:40.2833030+07:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[variation] ON 

INSERT [dbo].[variation] ([variation_id], [product_id], [size_id], [color_id], [variation_image], [variation_price]) VALUES (41, N'a2e98027-f414-47ee-9a39-c64aca1419c7', 6, 15, N'https://i.ibb.co/hFPSHt6g/image-2025-03-24-161342756.png', CAST(850000.00 AS Decimal(10, 2)))
INSERT [dbo].[variation] ([variation_id], [product_id], [size_id], [color_id], [variation_image], [variation_price]) VALUES (42, N'a2e98027-f414-47ee-9a39-c64aca1419c7', 5, 15, N'https://i.ibb.co/qFghj69Z/image-2025-03-24-161330541.png', CAST(850000.00 AS Decimal(10, 2)))
INSERT [dbo].[variation] ([variation_id], [product_id], [size_id], [color_id], [variation_image], [variation_price]) VALUES (43, N'b0579bfb-9b5e-4d99-81e9-b15bb2ba56ee', 5, 9, N'https://i.ibb.co/nN3nM8b9/image-2025-03-25-091647084.png', CAST(85000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[variation] OFF
GO
SET IDENTITY_INSERT [dbo].[variation_single] ON 

INSERT [dbo].[variation_single] ([variation_single_id], [variation_single_code], [is_variation_single_bought]) VALUES (1, N'CHÂ434-BLACK-XXL-806850', 1)
INSERT [dbo].[variation_single] ([variation_single_id], [variation_single_code], [is_variation_single_bought]) VALUES (2, N'CHÂ434-BLACK-XXL-590351', 1)
INSERT [dbo].[variation_single] ([variation_single_id], [variation_single_code], [is_variation_single_bought]) VALUES (3, N'CHÂ434-BLACK-XXL-402204', 1)
SET IDENTITY_INSERT [dbo].[variation_single] OFF
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [cart_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [cart_user_id_fkey]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [cart_variation_id_fkey] FOREIGN KEY([variation_id])
REFERENCES [dbo].[variation] ([variation_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [cart_variation_id_fkey]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [chat_user_id_1_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [chat_user_id_1_fkey]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [comment_review_id_fkey] FOREIGN KEY([review_id])
REFERENCES [dbo].[review] ([review_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [comment_review_id_fkey]
GO
ALTER TABLE [dbo].[comment_parent]  WITH CHECK ADD  CONSTRAINT [comment_parent_comment_id_fkey] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment_parent] CHECK CONSTRAINT [comment_parent_comment_id_fkey]
GO
ALTER TABLE [dbo].[comment_parent]  WITH CHECK ADD  CONSTRAINT [comment_parent_comment_parent_id_fkey] FOREIGN KEY([comment_parent_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment_parent] CHECK CONSTRAINT [comment_parent_comment_parent_id_fkey]
GO
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [discount_discount_rank_requirement_fkey] FOREIGN KEY([discount_rank_requirement])
REFERENCES [dbo].[rank] ([rank_id])
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [discount_discount_rank_requirement_fkey]
GO
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [discount_discount_status_id_fkey] FOREIGN KEY([discount_status_id])
REFERENCES [dbo].[discount_status] ([discount_status_id])
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [discount_discount_status_id_fkey]
GO
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [discount_discount_type_id_fkey] FOREIGN KEY([discount_type_id])
REFERENCES [dbo].[discount_type] ([discount_type_id])
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [discount_discount_type_id_fkey]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [feedback_topic_id_fkey] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [feedback_topic_id_fkey]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [message_chat_id_fkey] FOREIGN KEY([chat_id])
REFERENCES [dbo].[chat] ([chat_id])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [message_chat_id_fkey]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [message_sender_id_fkey] FOREIGN KEY([sender_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [message_sender_id_fkey]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [notification_user_id_sender_fkey] FOREIGN KEY([user_id_sender])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [notification_user_id_sender_fkey]
GO
ALTER TABLE [dbo].[notification_user]  WITH CHECK ADD  CONSTRAINT [notification_user_notification_id_fkey] FOREIGN KEY([notification_id])
REFERENCES [dbo].[notification] ([notification_id])
GO
ALTER TABLE [dbo].[notification_user] CHECK CONSTRAINT [notification_user_notification_id_fkey]
GO
ALTER TABLE [dbo].[notification_user]  WITH CHECK ADD  CONSTRAINT [notification_user_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[notification_user] CHECK CONSTRAINT [notification_user_user_id_fkey]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [order_discount_id_fkey] FOREIGN KEY([discount_id])
REFERENCES [dbo].[discount] ([discount_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order_discount_id_fkey]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [order_incharge_employee_id_fkey] FOREIGN KEY([incharge_employee_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order_incharge_employee_id_fkey]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [order_order_status_id_fkey] FOREIGN KEY([order_status_id])
REFERENCES [dbo].[order_status] ([order_status_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order_order_status_id_fkey]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [order_payment_method_id_fkey] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_method] ([payment_method_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order_payment_method_id_fkey]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [order_shipping_method_id_fkey] FOREIGN KEY([shipping_method_id])
REFERENCES [dbo].[shipping_method] ([shipping_method_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order_shipping_method_id_fkey]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [order_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [order_user_id_fkey]
GO
ALTER TABLE [dbo].[order_variation_single]  WITH CHECK ADD  CONSTRAINT [order_variation_single_order_id_fkey] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[order_variation_single] CHECK CONSTRAINT [order_variation_single_order_id_fkey]
GO
ALTER TABLE [dbo].[order_variation_single]  WITH CHECK ADD  CONSTRAINT [order_variation_single_variation_single_id_fkey] FOREIGN KEY([variation_single_id])
REFERENCES [dbo].[variation_single] ([variation_single_id])
GO
ALTER TABLE [dbo].[order_variation_single] CHECK CONSTRAINT [order_variation_single_variation_single_id_fkey]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [product_brand_id_fkey] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [product_brand_id_fkey]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [product_product_status_id_fkey] FOREIGN KEY([product_status_id])
REFERENCES [dbo].[product_status] ([product_status_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [product_product_status_id_fkey]
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD  CONSTRAINT [product_category_category_id_fkey] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product_category] CHECK CONSTRAINT [product_category_category_id_fkey]
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD  CONSTRAINT [product_category_product_id_fkey] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_category] CHECK CONSTRAINT [product_category_product_id_fkey]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [review_order_id_fkey] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [review_order_id_fkey]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [review_product_id_fkey] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [review_product_id_fkey]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [review_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [review_user_id_fkey]
GO
ALTER TABLE [dbo].[sale]  WITH CHECK ADD  CONSTRAINT [sale_sale_status_id_fkey] FOREIGN KEY([sale_status_id])
REFERENCES [dbo].[sale_status] ([sale_status_id])
GO
ALTER TABLE [dbo].[sale] CHECK CONSTRAINT [sale_sale_status_id_fkey]
GO
ALTER TABLE [dbo].[sale]  WITH CHECK ADD  CONSTRAINT [sale_sale_type_id_fkey] FOREIGN KEY([sale_type_id])
REFERENCES [dbo].[sale_type] ([sale_type_id])
GO
ALTER TABLE [dbo].[sale] CHECK CONSTRAINT [sale_sale_type_id_fkey]
GO
ALTER TABLE [dbo].[sale_product]  WITH CHECK ADD  CONSTRAINT [sale_product_product_id_fkey] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[sale_product] CHECK CONSTRAINT [sale_product_product_id_fkey]
GO
ALTER TABLE [dbo].[sale_product]  WITH CHECK ADD  CONSTRAINT [sale_product_sale_id_fkey] FOREIGN KEY([sale_id])
REFERENCES [dbo].[sale] ([sale_id])
GO
ALTER TABLE [dbo].[sale_product] CHECK CONSTRAINT [sale_product_sale_id_fkey]
GO
ALTER TABLE [dbo].[stock_variation]  WITH CHECK ADD  CONSTRAINT [stock_variation_stock_id_fkey] FOREIGN KEY([stock_id])
REFERENCES [dbo].[stock] ([stock_id])
GO
ALTER TABLE [dbo].[stock_variation] CHECK CONSTRAINT [stock_variation_stock_id_fkey]
GO
ALTER TABLE [dbo].[stock_variation]  WITH CHECK ADD  CONSTRAINT [stock_variation_variation_id_fkey] FOREIGN KEY([variation_id])
REFERENCES [dbo].[variation] ([variation_id])
GO
ALTER TABLE [dbo].[stock_variation] CHECK CONSTRAINT [stock_variation_variation_id_fkey]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [transaction_incharge_employee_id_fkey] FOREIGN KEY([incharge_employee_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [transaction_incharge_employee_id_fkey]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [transaction_provider_id_fkey] FOREIGN KEY([provider_id])
REFERENCES [dbo].[provider] ([provider_id])
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [transaction_provider_id_fkey]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [transaction_stock_id_fkey] FOREIGN KEY([stock_id])
REFERENCES [dbo].[stock] ([stock_id])
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [transaction_stock_id_fkey]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [transaction_transaction_type_id_fkey] FOREIGN KEY([transaction_type_id])
REFERENCES [dbo].[transaction_type] ([transaction_type_id])
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [transaction_transaction_type_id_fkey]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [transaction_variation_id_fkey] FOREIGN KEY([variation_id])
REFERENCES [dbo].[variation] ([variation_id])
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [transaction_variation_id_fkey]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [user_role_id_fkey] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [user_role_id_fkey]
GO
ALTER TABLE [dbo].[user_discount]  WITH CHECK ADD  CONSTRAINT [user_discount_discount_id_fkey] FOREIGN KEY([discount_id])
REFERENCES [dbo].[discount] ([discount_id])
GO
ALTER TABLE [dbo].[user_discount] CHECK CONSTRAINT [user_discount_discount_id_fkey]
GO
ALTER TABLE [dbo].[user_discount]  WITH CHECK ADD  CONSTRAINT [user_discount_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[user_discount] CHECK CONSTRAINT [user_discount_user_id_fkey]
GO
ALTER TABLE [dbo].[user_rank]  WITH CHECK ADD  CONSTRAINT [user_rank_rank_id_fkey] FOREIGN KEY([rank_id])
REFERENCES [dbo].[rank] ([rank_id])
GO
ALTER TABLE [dbo].[user_rank] CHECK CONSTRAINT [user_rank_rank_id_fkey]
GO
ALTER TABLE [dbo].[user_rank]  WITH CHECK ADD  CONSTRAINT [user_rank_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[user_rank] CHECK CONSTRAINT [user_rank_user_id_fkey]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [wishlist_product_id_fkey] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [wishlist_product_id_fkey]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [wishlist_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [wishlist_user_id_fkey]
GO
USE [master]
GO
